// .container{
//     max-width: 720px;
//     margin: auto;
// }

// .team-contacts {
//     color: #1b745e;
//     text-align: center;
//     font-style: italic;
//     padding-bottom: 12px;
// }
// .team-head{
//     color: #0c5b47;
//     text-align: center;
//     margin: 0;
//     font-family: 'Quicksand', sans-serif;
//     font-size: 2.875rem;
//     line-height: 1.1;
// }
.green-p{
    color: green;
}
.fine{
    font-size: 40px;
}
.section3{
    margin: 100px 0;
}
.ourTeam{
    margin: 200px 0;
}
.sectionTeam{
    margin: 20px 0;
    font-size: 40px;
    color: #0c5b47;
}