.where-to-find{
    margin: 200px 0;
    max-width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

.where-to-find {
  .bg-first {
    background-color: #d8e3d5;
    width: 344px;
    height: 364px;
  }

  .bg-second {
    background-color: #fffbf6;
    width: 344px;
    height: 364px;
  }

  .bg-third {
    background-color: #fef1e6;
    width: 344px;
    height: 364px;
  }

  .text-white {
    color: white;
  }

  .sectionTeam {
    text-align: center;
    margin-left: 10px;
  }

  a {
    color: inherit; 
    text-decoration: none; 
  }

  a:hover {
    text-decoration: underline; 
  }

  p {
    margin-bottom: 10px;
  }
}

  .row{
    gap: 40px;
    justify-content: center;
  }


  .subscribe {
    
    .text-center {
        margin-top: 100px;
      text-align: center;
      color: #10634e !important;
    }
  
    .subscribe-form {
      margin-top: 20px; 
      color: #10634e !important;
  
      .email-input {
        
        border: none;
        border-bottom: 2px solid #10634e; 
        border-radius: 0;
        padding: 10px;
        margin-right: -1px; 
        flex: 1; 
      }
  
      .send-button {
        border: none;
        background-color: #d8e3d5 !important;
        border-color: #d8e3d5 !important;
        color: #10634e !important;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 0;
        transition: background-color 0.3s ease;
      }
    }
  }
  .subscribe h2{
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
  }