.mainSlider {
  h1 {
    font-size: 100px;
    font-weight: 900;
    font-family: "Josefin Sans", sans-serif;
  }
  p {
    font-size: 22px;
  }
  .hero__btn {
    a {
      padding: 10px 20px;
      background-color: black;
      color: white;
      font-size: 20px;
    }
  }
}
