.Footer {
  margin-top: 40px;
  margin-bottom: 40px;
  .CustomContainer {
    max-width: 1140px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .Links {
      ul {
        display: flex;
        align-items: center;
        gap: 45px;
        li {
          a {
            font-size: 14px;
            color: #51545f;
            line-height: 30px;
            transition: all 300ms ease;
            &:hover {
              color: #fe4c50;
            }
          }
        }
      }
    }
    .FooterSocialMediaIcons {
      ul {
        display: flex;
        align-items: center;
        gap: 20px;
        li {
          a {
            color: #51545f;
          }
        }
      }
    }
  }

  .CoderRight {
    max-width: 1140px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 20px;
    h4 {
      font-size: 14px;
      color: #51545f;
      line-height: 30px;
    }
  }

  @media (max-width: 995px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .CustomContainer {
      flex-direction: column;
      gap: 20px;

      .Links ul {
        flex-direction: column;
        gap: 8px;
      }
    }
  }
}
