.custom-card {
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  overflow: hidden;
  transition: box-shadow 0.3s;
  background: #fff;
  width: 220px;
  position: relative;
  cursor: pointer;

  &.hoverable:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    .custom-card-button {
      opacity: 1;
      transform: translateY(0);
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: auto;
      height: 40px;
      background: #fe4c50;
      border-radius: 3px;
      width: 100%;
    }
  }
}

.custom-card-cover {
  img {
    width: 100%;
    height: auto;
  }
}

.custom-card-body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .custom-card-title {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #1e1e27;
    line-height: 20px;

    &:hover {
      color: #b5aec4;
    }
  }

  .custom-card-price {
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.65);
    color: #fe4c50;
    font-weight: 600;
    .custom-card-price {
      display: inline !important;
      font-size: 12px;
      margin-left: 10px;
      color: #b5aec4;
      text-decoration: line-through;
    }
  }

  .custom-card-button {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s, transform 0.3s;
    margin-top: 16px;
    padding: 8px 16px;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background: #fe7c7f !important;
    }
  }
}

.CustomCardLeftTopSideInfo {
  position: absolute;
  top: 15px;
  width: 50px;
  height: 22px;
  border-radius: 3px;
  text-transform: uppercase;
  background: #51a042;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 15px;

  .CustomCardLeftTopSideInfoText {
    display: inline !important;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    &::after {
      content: " ";
      position: absolute;
      width: 0;
      height: 0;
      left: auto;
      right: 6px;
      bottom: -6px;
      border: 6px solid;
      border-color: #51a042 #51a042 transparent transparent;
    }
  }
}

.CustomCardTopRightSideInfo {
  left: initial;
  right: 15px;
  background: #fe4c50;
  .CustomCardLeftTopSideInfoText {
    display: inline !important;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    &::after {
      content: " ";
      position: absolute;
      width: 0;
      height: 0;
      left: 6px;
      right: auto;
      top: auto;
      bottom: -5px;
      border: 6px solid;
      border-color: transparent transparent transparent #fe4c50;
    }
  }
}

.CustomCardTopSideInfoFavoriteBorderIcon {
  color: #b9b4c7;
  width: 17px;
  height: 17px;
}


.GeneralFavoriteIcon {
  color: #fe4c50;
}

.CustomCardLeftTopSideInfoFavorite {
  background: initial;
  left: initial;
  right: 15px;
}

.CustomCardLeftTopSideInfoFavoriteLeft {
  background: initial;

  span {
    &::after {
      border-color: initial !important;
    }
  }
}

.GeneralFavoriteBorderIcon:hover {
  color: #fe4c50;
}


