.Header {
  width: 100%;
  background: #ffffff;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
  position: fixed;
  z-index: 5;

  .BurgerMenu {
    display: none;
  }

  .HeaderContainer {
    width: 100%;
    max-width: 1140px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .HeaderLogo {
    display: flex;
    align-items: center;

    a {
      font-size: 24px;
      color: #1e1e27;
      font-weight: 700;
      text-transform: uppercase;
    }

    .SecondLogoSide a {
      color: #fe4c50;
    }
  }

  .HeaderNavbarAndAuth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .HeaderNavbar {
      .HeaderNavbarAllLi {
        display: flex;
        align-items: center;

        a {
          display: block;
          color: #1e1e27;
          font-size: 13px;
          font-weight: 500;
          text-transform: uppercase;
          padding: 20px;
          transition: color 0.3s ease;
        }
      }
    }

    .HeaderAuth {
      .HeaderAuthAllLi {
        display: flex;
        align-items: center;

        li {
          position: relative;

          a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 40px;
            height: 40px;
            color: #1e1e27;
            transition: color 0.3s ease;
          }
        }

        .basketLiCheckOut {
          background: #eceff6;
          border-radius: 50%;
        }

        .basketCount {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          top: -9px;
          left: 22px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: #fe4c50;
          font-size: 12px;
          color: #ffffff;
        }
      }
    }
  }

  @media (max-width: 995px) {
  
    .HeaderNavbar {
      display: none;
    }

    .BurgerMenu {
      display: initial;
      margin-left: 20px;
      cursor: pointer;
    }
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    justify-content: flex-end;
  }

  .ModalContent {
    background: #fff;
    width: 80%;
    // max-width: 300px;
    height: 100%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    position: relative;
    padding: 20px;
    overflow-y: auto;

    .CloseButton {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
    }

    .ModalNavbar ul {
      list-style: none;
      padding: 0;

      li {
        margin: 15px 0;

        a {
          color: #1e1e27;
          font-size: 18px;
          text-decoration: none;
          display: block;
        }
      }
    }
  }
}
