.OurClients {
  margin: 200px 0;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #e0ecdc;
  h2 {
    color: #0c5b47;
    text-align: center;
    padding-bottom: 33px;
    font-size: 60px;
    margin-bottom: 40px;
  }
}
