.ProductInfo {
  .MuiCard-root {
    display: flex;
    max-width: 800px;
    max-height: 500px;
    padding: 20px;
    margin-top: 120px;
  }
  img {
    object-fit: contain;
  }

  .MuiCardMedia-root {
    width: 250px;
  }

  .MuiCardContent-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
