* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Clash Grotesk", sans-serif;
}

ul,
ol,
li {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
